         
         
         
         
D. Cả 3 đáp án trên đều sai	
D. Cả 3 đáp án trên đều đúng
D. Không đặt dàn nóng nơi có ánh nắng chiếu trực tiếp
D. Than đá, khí than, dầu mỏ, khí thiên nhiên, quặng urani, nhiên liệu sinh học, năng lượng mặt trời và các tài nguyên năng lượng khác không có khả năng tái tạo	
         
         
D. Câu B và C đúng
D. Cả 02 đáp án trên đều sai.	
D. Câu B và C đều đúng.
D. Tất cả đáp án trên đều đúng.
D. Không sử dụng thiết bị điện có công suất tiêu thụ lớn.	
D. Câu B và C đều sai.	
D. Câu A và B đều sai.	
D. Tất cả đáp án trên đều đúng.
D. Tất cả đáp án trên đều đúng.	
D. Cả đáp 02 án trên đều đúng	
D. Cả ba đáp án A, B, C đều đúng.
D. Huỳnh Quang	
D. Câu A và B đúng
D. Câu A và C đúng.
D. Sử dụng và so sánh nhiều loại thiết bị trước khi quyết định mua.	
D. Kết hợp câu A và C.
D. 70%.	
D. Tất cả giải pháp A, B, C.
D. Câu B và Câu C đúng
D. Từ 20h30 đến 21h30, ngày chủ nhật cuối cùng của tháng 3.	
D. Góp phần làm giảm bớt các sự cố về điện.	
D. Đèn ống (đèn huỳnh quang)	
         
D. Bật sáng tất cả các đèn trong nhà suốt đêm.	
         
         
         
         
         
         
D. Cả 2 câu A và B đều sai;	
D. Không nên giặt nước nóng vì không có lợi ích gì	
D. Lắp đặt quạt ở vị trí bất kì vị trí nào trong phòng và dùng tốc độ gió cao nhất;
D. Câu A và B đúng;
D. 0,361 đến 0,561 Kwh điện và 4 đến 6 lít nước
D. Tất cả các hành động trên;
D. Tất cả đều đúng.
D. 8 mét.	
D. Cả 3 câu trên đều sai;	
D. Tất cả đều đúng.
         
D. Ngâm gạo với nước lạnh trước khi nấu	
D. 12 giờ vì sẳn sàng cho nguyên ngày khỏi nấu	
D. Không. Vì không tiêu hao điện năng	
D. 30 độc C để tiết kiệm điện hiệu quả	
D. Tất cả các hành động trên;
D. Tất cả đều đúng.
D. Cả 3 câu trên đều sai;	
D. Tất cả đều đúng.
D. Cả 2 câu A và B đều sai;	
D. Câu B và C đúng;
D. Câu A và C đúng;
D. Diện tích từ 35 - 40 m² chọn công suất máy ⁓ 2.0 HP	
D. Lắp đặt quạt ở vị trí bất kì vị trí nào trong phòng và dùng tốc độ gió cao nhất;
D. Tất cả đều đúng
D. Đèn Led
D. Bình đung siêu tốc	
D. Hệ thống thủy điện	
D. Công nghệ lượng tử;	
d. Thiết bị điện có giá cả phù hợp túi tiền người tiêu dùng và có dán nhãn tiết kiện điện
d. Câu a và b đều sai	
d. Tất cả các câu trên
d. Tất cả các câu trên	
d. Tất cả các câu trên đều sai	
d. Tất cả các câu trên đều sai	
d. Tất cả các câu trên đều sai	
d. Tất cả các câu trên đều sai	
d. Đáp án a và b đúng
d. Tất cả các câu trên đều sai	
d. Tất cả các câu trên đều đúng	
D. Nguồn năng lượng tái tạo là nguồn năng lượng không có sẵn trong thiên nhiên và có thể cạn kiệt.	
D. Tất cả các biện pháp trên.
D. Năng lượng khí đốt.
D. Đèn sợi đốt	
D. Bật sáng tất cả các đèn trong nhà suốt đêm.	
D. Dùng thử trước khi mua	
D. Tất cả các đáp án trên
D. Đèn ống (đèn huỳnh quang)	
D. Cả 3 phương án trên.
D. Bao nhiêu độ C cũng được	
d. Tắt bớt các thiết bị sử dụng điện .	
d. Sinh hoạt và kinh doanh dịch vụ; Sản xuất.	
d. Tất cả các câu trên đều đúng.
d. Nghiêm cấm sử dụng các phương tiện, thiết bị tiêu thụ năng lượng lớn hoặc có công nghệ lạc hậu, hiệu suất thấp.	
d. Tất cả các câu trên đều đúng.
d. Nồi nấu cơm điện.	
d. Phải tiết kiệm ít nhất bằng 1% điện năng tiêu thụ so với năm trước đó, sử dụng máy lạnh có biến tần.	
d. Là nhãn cung cấp thông tin về mức tiêu thụ năng lượng của năng lượng.	
d. Thiết bị điện có giá cả phù hợp túi tiền người tiêu dùng và có dán nhãn tiết kiện điện
         
d. Tăng chi phí sử dụng điện	
d. Cả A,B,C đều đúng	
d. Đáp án A và C đúng.
d. Tất cả đều sai	
d. Gọi đến cơ sở y tế hỗ trợ	
d. Tất cả đều đúng	
d. Tất cả đều đúng	
         
d. Luôn bật điều hòa ở nhiệt độ 19 độ C	
         
d. Tất cả đều đúng
d. Tất cả đều đúng
d. 1900112233	
d. Tổng Công ty Điện lực miền Trung	
         
d. Tất cả đều đúng
d. Cả b và c đều đúng
d. Tất cả đều đúng	
         
d. Tất cả đều đúng
D. Quản lý tiêu dùng	
D. Dùng thử trước khi mua	
D. Phong điện	
D. Đèn sợi đốt	
D. Cả 3 đáp án trên
D. Tất cả các đáp án trên đều đúng
D. Công nghệ OLED
D. Tất cả các đáp án trên đều đúng
D. Tất cả các đáp án trên
D. Tất cả các đáp án đều sai
D. Cả 3 loại tiêu thụ điện năng như nhau	
D. Máy càng lớn sấy càng nhanh	
D. Công nghệ lượng tử	
D. 27 - 29 độ C
D. Tất cả các đáp án trên đều đúng	
D. Góp phần làm giảm bớt các sự cố về điện.	
D. Đèn ống (đèn huỳnh quang)	
D. Càng dùng nhiều điện thì tổn hao vô ích càng lớn và càng tốn kém cho gia đình và cho xã hội.	
D. Bật sáng tất cả các đèn trong nhà suốt đêm.	
D. Tắt các thiết bị điện không cần thiết khi ra khỏi nhà, khỏi phòng.	
D. Không gây tác động có hại gì đến sức khỏe của con người.	
D. Cả ba đáp án A, B, C đều đúng.
D. Để nhiệt độ của điều hòa quá thấp.	
D. Quên không tắt ti vi khi không xem.	
D. Cả ba đáp án A, B và C đều đúng.
D. Cả hai đáp án A và B đều đúng.
D. Động năng.	
D. Cả ba biện pháp A, B, C đều đúng.
D. Câu A và B đúng;	
D. Cả 3 câu trên đều sai;	
D. Quản lý tiêu dùng;	
D. Phong điện;	
D. 850 – 1100 (W);	
D. Cả 3 câu trên đều đúng;
D. Ủi quần áo vào các khung giờ cao điểm 9h30 - 11h30 và từ 17h00 - 20h00
D. Công nghệ lượng tử;	
D. Nâng cao nhận thức của cán bộ công nhân viên;	