{% extends 'patient/patientbase.html' %}
{% block content %}
{%load static%}
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

   <style>
body {
  background-color: #fff6f0;
  text-align: center;
  color: #264653;
  font-family: 'Varela Round', sans-serif;

}

h1 {
  text-transform: uppercase;
  color: #2a9d8f;
  font-size: 3em;
}

.subheading {
  font-size: 1.5em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.block {
  margin: 0.5em;
  width: 120px;
  height: 120px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer; /* Add cursor style */
}

.block:nth-child(2n) .letter {
  color: #e9c46a;
}
.block:nth-child(3n) .letter {
  color: #264653;
}
.block:nth-child(5n) .letter {
  color: #2a9d8f;
}
.block:nth-child(7n) .letter {
  color: #f4a261;
}

.letter {
  font-weight: bold;
  font-size: 4em;
  color: #e76f51;
  text-transform: uppercase;
}

.selectedLetter {
  background-color: #eed9cb;
  border-radius: 50%;
}

   </style>

<body>
    <h1>Bảng chữ cái ABC</h1>
    <p class="subheading">Nhấn vào chữ và đọc theo nhé!<p>
    <div id="alphabet" style=""></div>
</body>
<script>
    const app = document.getElementById("alphabet");

    const letterGrid = document.createElement("div");
    letterGrid.setAttribute("class", "grid");

    /* Create divs with paragraphs for each letter in the alphabet */
    const alphabet = "aăâbcdđeêghiklmnopqrstuưvxy".split("");
    alphabet.map((current) => {
        const letterBlock = document.createElement("div");
        letterBlock.setAttribute("class", "block");
        letterBlock.setAttribute("id", current);
        const letter = document.createElement("p");
        letter.setAttribute("class", "letter");

        letter.textContent = current;
        letterBlock.append(letter);
        letterGrid.append(letterBlock);
    });

    app.append(letterGrid);

    /* Set up sound */
    const context = new window.AudioContext();
    function playFile(file) {
        fetch(file)
            // read into memory as an arryBuffer
            .then((response) => response.arrayBuffer())
            // turn it into raw audio data
            .then((arrayBuffer) => context.decodeAudioData(arrayBuffer))
            .then((audioBuffer) => {
                // play the music
                const soundSource = context.createBufferSource();
                soundSource.buffer = audioBuffer;
                soundSource.connect(context.destination);
                soundSource.start();
            });
    }

    /* Listen to click events and play sound */
    letterGrid.addEventListener("click", function (event) {
        if (event.target.classList.contains("letter")) {
            const letter = event.target.textContent.toLowerCase();
            switch (letter) {
                case 'a':
                    playFile("/static/images/alphabet/A.m4a");
                    break;
                case 'ă':
                    playFile("/static/images/alphabet/A1.m4a");
                    break;
                case 'â':
                    playFile("/static/images/alphabet/A2.m4a");
                    break;
                case 'b':
                    playFile("/static/images/alphabet/B.m4a");
                    break;
                case 'c':
                    playFile("/static/images/alphabet/C.m4a");
                    break;
                case 'd':
                    playFile("/static/images/alphabet/D.m4a");
                    break;
                case 'đ':
                    playFile("/static/images/alphabet/D1.m4a");
                    break;
                case 'e':
                    playFile("/static/images/alphabet/E.m4a");
                    break;
                case 'ê':
                    playFile("/static/images/alphabet/E1.m4a");
                    break;
                case 'g':
                    playFile("/static/images/alphabet/G.m4a");
                    break;
                case 'h':
                    playFile("/static/images/alphabet/H.m4a");
                    break;
                case 'i':
                    playFile("/static/images/alphabet/I.m4a");
                    break;
                case 'k':
                    playFile("/static/images/alphabet/K.m4a");
                    break;
                case 'l':
                    playFile("/static/images/alphabet/L.m4a");
                    break;
                case 'm':
                    playFile("/static/images/alphabet/M.m4a");
                    break;
                case 'n':
                    playFile("/static/images/alphabet/N.m4a");
                    break;
                case 'o':
                    playFile("/static/images/alphabet/O.m4a");
                    break;
                case 'p':
                    playFile("/static/images/alphabet/P.m4a");
                    break;
                case 'q':
                    playFile("/static/images/alphabet/Q.m4a");
                    break;
                case 'r':
                    playFile("/static/images/alphabet/R.m4a");
                    break;
                case 's':
                    playFile("/static/images/alphabet/S.m4a");
                    break;
                case 't':
                    playFile("/static/images/alphabet/T.m4a");
                    break;
                case 'u':
                    playFile("/static/images/alphabet/U.m4a");
                    break;
                case 'ư':
                    playFile("/static/images/alphabet/U1.m4a");
                    break;
                case 'v':
                    playFile("/static/images/alphabet/V.m4a");
                    break;
                case 'x':
                    playFile("/static/images/alphabet/X.m4a");
                    break;
                case 'y':
                    playFile("/static/images/alphabet/Y.m4a");
                    break;
            }
            const prevSelection = document.getElementsByClassName("selectedLetter");
            if (prevSelection.length) {
                prevSelection[0].classList.remove("selectedLetter");
            }
            event.target.parentNode.classList.add("selectedLetter");
            setTimeout(() => event.target.parentNode.classList.remove("selectedLetter"), 200);
        }
    });
</script>

{% endblock content%}